.login-area {
  display: grid;
  place-items: center;
  height: 100vh;
}

.spotify-logo {
  width: 50%;
}

.login-button {
  color: white;
  font-weight: 800;
  padding: 20px;
  background-color: #1db954;
  border-radius: 99px;
  width: 20%;
}
